body{
	background-color: rgb(124, 87, 87);
}

h1{
	text-align: center;
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	}
	
	p{
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		background-color: rgb(165, 172, 179);
	}

	#salida{
	font-size: 1.5rem;
	text-align: center;
	font-size: xx-large ;
	border-radius:15px 15px;
	}

	#salida1{
		font-size: 1.5rem;
		text-align: center;
		font-size: x-large ;
		border-radius:15px 15px;
		}
    
	#salida2{
		font-size: 1.5rem;
		text-align: center;
		font-size: x-large ;
		border-radius:0 20px;
		}

    
	#formu,#formId{
		
		text-align: center;
		font-size: xx-large ;
		background-color: rgb(197, 214, 230);
		border-radius:15px 15px;
		}

	#aparato{
		background-color: rgb(3, 4, 5);
		width: 400px;
		height: 400px;
		margin: 0 auto;
		border-radius: 25%;
	}
	
	.color{
		width: 48%;
		height: 196px;
	}
	
	#verde{
		border-radius: 50% 0 0 0;
		border-left-style: solid;
		border-right-style: solid;
		border-top-style: solid;
		border-bottom-style: solid;
		background: #049E03;
	}
	
	#rojo{
		border-radius: 0 50% 0 0;
		border-left-style: solid;
		border-right-style: solid;
		border-top-style: solid;
		border-bottom-style: solid;
		background: #AE0404;
	}
	
	#amarillo{
		border-radius: 0 0 0 50%;
		border-left-style: solid;
		border-right-style: solid;
		border-top-style: solid;
		border-bottom-style: solid;
		background: #CAC902;
	}
	
	#azul{
		border-radius: 0 0 50% 0;
		border-left-style: solid;
		border-right-style: solid;
		border-top-style: solid;
		border-bottom-style: solid;
		background: #0404A6;
	}
	

	#boton1{
		background-color: rgb(165, 172, 179);
        width: auto;
		text-align: center;
		margin: 2rem  auto;
		border-radius:15px 15px;
	}
	#boton,#botona,#botonb{
		width: 200px;
		font-size:large ;
   }
